<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to DevPoint, <%= @user.name %>!</h1>
    <p>
      You have successfully signed up to anewman15-dev-pointnetlify.app!
      <br>
      Your username is: <%= @user.username %>.
      <br>
    </p>
    <p>
      To login to the site, just follow this link: <a>https://anewman15-dev-point.netlify.app/login</a>.
    </p>
  </body>
</html>