<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Monday is for People With a Mission!</h1>
    <p>
      What's your mission for this week, <%= @user.username %>!
    </p>
    <p>
      DevPoint wishes you a very pleasant week full of accomplishments!
    </p>
  </body>
</html>